.Roadmap{
    background-color: #1b1b1b;
}

.heading-2-small {
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Axolittle font', sans-serif;
    font-size: 60px;
    line-height: 64px;
}

.with-underline.long-underline {
    display: block;
    margin-top: 45px;
    margin-bottom: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    color: #4bb1fe;
    text-align: center;
}