@font-face {
    font-family: 'Relative';
    src: url('../fonts/Relative-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Relative';
    src: url('../fonts/Relative-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Relative';
    src: url('../fonts/Relative-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Axolittle font';
    src: url('../fonts/Axolittle-font.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  