.header{
  /* position: fixed; */
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  /* background-color: #4bb1fe; */
  z-index: 3;
  transition: all 0.2s ease-in-out 0s;
  transform: translate3d(0px, 0px, 0px);
}

.header .nav{
  align-items: center;
}

.nav a{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  transition: all 200ms ease-in;
  font-family: 'Axolittle font', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav a:hover{
  color: #fff;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}