.About{
    display: block;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    background-color: #4bb1fe;
}

.About .image-14 {
    display: block;
    overflow: scroll;
    width: 24%;
    max-height: 100%;
    max-width: 100%;
    min-height: 0%;
    min-width: 0%;
    padding-right: 40px;
    padding-left: 40px;
    -o-object-fit: cover;
    object-fit: cover;
}


.heading-9 {
    margin-top: 16px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: -1.92px;
    margin-bottom: 46px;
    font-family: 'Axolittle font', sans-serif;
    color: #000;
}


.margin-bottom-2 {
    margin-top: -6px;
    margin-bottom: 81px;
    color: #fff;
}

.paragraph-6 {
    margin-top: 22px;
    padding-top: 0px;
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: -0.32px;
}