body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
}

html,body{
  width: 100%;
  background-color: #d8d5d1;
}

body {
  font-family: Relative, sans-serif;
  color: #161616;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}

.align-items-center{
  align-items: center;
}

.section.grain{
  background-color: #4bb1fe;
}

.section{
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.block_bg{
  background-color: #1b1b1b;
}

.radius-40{
  border-radius: 40px;
  overflow: hidden;
}

.vertical-align-center{
  justify-content: center;
}

.centre-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}