.banner{
    background-color: #4bb1fe;
    padding: 14vw;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.hero-heading {
    position: static;
    max-width: 720px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0px;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    text-shadow: none;
    white-space: normal;
    font-family: 'Axolittle font', sans-serif;
    color: #fff;
    font-size: 120px;
    text-align: right;
}

.heading-3 {
    font-family: 'Axolittle font', sans-serif;
    color: #003f6e;
    font-size: 50px;
    text-align: right;
    text-transform: capitalize;
}


.bg-cover{
    position: absolute;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    /* --tw-bg-opacity:1;
    background-color:rgba(0, 11, 13, var(--tw-bg-opacity)) */
}

.banner .container{
    position: relative;
    z-index: 2;
}

.w-full {
    width:100%
}

.h-full {
    height:100%
}

.inset-0 {
    top:0;
    bottom:0
}
.inset-0, .inset-x-0 {
    right:0;
    left:0
}
.object-cover {
    -o-object-fit:cover;
    object-fit:cover
}